.developers-section {
    text-align: center;
    
}

.des {
    display: inline-block;
    width: 250px;
    margin: 20px;   
    color: blue;
    
}

.des img {
    width: 150px;
    height: 150px;
    
}



.des p {
    color: rgb(225, 0, 255);
}
